.divcontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divform{
    background-image: url(../../assets/rick.jpg);
    /*object-fit: contain;*/
    filter: contrast(95%);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 450px;
    color: aliceblue;
    /*background-color: slategrey;*/
    border-radius: 20px 0px 0px 20px;
    background-position: right;
    
}
.mostrarpass{
    display: flex;
}
.seconddesign{
    /*background-color: aquamarine;*/
    width: 280px;
    height: 450px; 
    border-radius: 0px 20px 20px 0px;   
}
.imglogin{
    width: 280px;
    height: 450px;
    border-radius: 0px 20px 20px 0px;
}

.form{
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
}

.divbtn{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.btn{
    min-width: 120px;
    height: 35px;
    padding: 5px 10px;
    transition: all 0.3s ease;
    position: relative;
    bottom: -50px;
    color: #fff;
    font-weight: bold;
    font-size: large;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #57cc99;
    background: #57cc99;
}
.btn:hover {
    background: #fff;
    color: #57cc99
}

.ipt{
    position: relative;
    margin-bottom: 35px;
}

.prf1{
    position: absolute;
    color: red;
    font-weight: bold;
    top: 175px;
}
.prf2{
    position: absolute;
    color: red;
    font-weight: bold;
    bottom: 130px;
    width: 220px;
}

.imgs{
    margin: auto;
    display: flex;
    width: 20px;
    /*background-color: #57cc99;*/
    border-radius: 5px;
}

.btnpass{
    border-radius: 8px;
    border: none;
}