.divfondo{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.divfondo1{
    display: flex;
    align-content: center;
    background-color: #fff;
    filter: contrast(60%);
    width: 800px;
    height: 500px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}


.divcontent{
    width: 690px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.imagen{
    width: 200px;
    height: 200px;
    border-radius: 8px;

}
.parrafo{
    width: 320px;
}

.divcontent2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 690px;
    height: 200px;
}
.imgs{
    width: 50px;
    margin-right: 15px;
}